body { font-family: 'Helvetica Neue', Helvetica, Arial, serif; }
td, p { font-size: 1.3em; height: 2em; }
input[type="text"] { font-family: 'Helvetica Neue', Helvetica, Arial, serif; font-size: 1em; padding: 3px; border: 1px solid red; border-radius: 4px; -webkit-transition: width 0.4s ease-in-out; transition: width 0.4s ease-in-out; }
input[type=text]:focus { width: 150%; }
.currency{ font-family: 'Helvetica Neue', Helvetica, Arial, serif; font-size: 1em; padding: 7px; border: 1px solid green; border-radius: 4px; width: 100% }
input[type="button"] { font-family: 'Helvetica Neue', Helvetica, Arial, serif; font-size: 1em; padding: 15px; -webkit-transition-duration: 0.4s; transition-duration: 0.4s; background-color: #4CAF50; /* Green */ color: white; padding: 7px; border-radius: 4px; border: none; }
#result { font-family: 'Helvetica Neue', Helvetica, Arial, serif; font-size: 1.3em; padding: 7px; border: 1px solid green; border-radius: 4px; width: 60%; }
hr { width: 60%; }
.footer { font-size: 0.9em; }